<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        
        <style>
        table.main {
            width:100%;
            height:100%;
        }

        .list-panel {
            width: 50%;

            
            padding: 10px 25px 1px 50px;
            overflow-x: hidden;
            vertical-align: top;
            text-align: left;
        }
        .edit-panel {
            padding: 14px 15px 16px 25px;
            width: 50%;
            vertical-align: top;
            background: #f5f5ff;
            border-left: 1px solid #e5e5ee;
        }
        table.question-row {
            width: 100%;
            white-space: nowrap; 
            table-layout: fixed;
        }
        table.question-row td {
            overflow: hidden; 
            text-overflow: ellipsis;
        }
        table.question-row tr.active {
            border-bottom: 2px solid #C0C0FB;
        }
        </style>

        <title>Touch Quiz</title>
    </head>

    <body>
        
        <table class="main">
            <tbody>
                <tr>
                    <td class="list-panel">
                        <table class="table table-bordered question-row">
                            <thead>
                                <tr>
                                    <th>Question</th><th>Answer</th><th>Choice</th><th>Choice</th>
                                </tr>
                            </thead>
                            <tbody class='question-list'>
                                <tr>
                                    <td>Questiona</td><td>A: answer 1</td><td>B: answer 2</td><td>C: Answer 3</td>
                                </tr>
                            </tbody>
                        </table>

                        <button id="add-button" class="btn btn-default hidden">Add</button>
                    </td>
                    <td class="edit-panel">

                                                
                        
                    </td>
                </tr>
            </tbody>
        </table>

        <script type='text/template' class='question-view-template'>
            <td><%= text %></td><td><%= choice1 %></td><td><%= choice2 %></td><td><%= choice3 %></td>
        </script>

        <script type='text/template' class='question-edit-template'>
            <div class="form-group">
                <label for="question">Question</label>
                <textarea class="form-control" id="question" rows="3"><%= text %></textarea>
            </div>
            <div class="form-group">
                <label for="choice1">Answer</label>
                <input type="text" class="form-control" id="choice1" value=<%= choice1 %>>
            </div>
            <div class="form-group">
                <label for="choice2">Choice</label>
                <input type="text" class="form-control" id="choice2" value=<%= choice2 %>>
            </div>
            <div class="form-group">
                <label for="choice3">Choice</label>
                <input type="text" class="form-control" id="choice3" value=<%= choice3 %>>
            </div>

            <button id="save-button" class="btn btn-default">Save</button>
        </script>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="touchquiz.js"></script>


    </body>
</html>